<h1>Formulario de Cadastro</h1>

<form  [formGroup]="cadastroForm"  (ngSubmit)="onSubmit()"  >
    <h4>Dados Iniciais</h4>
    CNPJ
    <input type="text" formControlName="cnpj" mask='00.000.000/0000-00' [dropSpecialCharacters]="true" (keydown)='cnpjAction(cadastroForm)'>
    <div *ngIf="spinner"> Procurando ...</div>
    <div *ngIf="errorShow">{{ errorText }}</div>
    <br>
    Razão Social
    <input type="text" formControlName="nome">
    <br>
    Nome Fantasia
    <input type="text" formControlName="fantasia">
    <br>
    Telefone
    <input type="text" formControlName="telefone" mask='' [dropSpecialCharacters]="true">
    <br>
    CNAE
    <input type="text" formControlName="cnae" mask='0000-0/00' [dropSpecialCharacters]="true">
    <br>
    <h3>Endereço</h3>
    <br>
    logradouro
    <input type="text"   formControlName="logradouro">
    <br>
    número
    <input type="text" formControlName="numero">
    <br>
    bairro
    <input type="text" formControlName="bairro">
    <br>
    cep
    <input type="text" formControlName="cep">
    <br>
    cidade
    <input type="text" formControlName="cidade">
    <br>
    estado
    <input type="text" formControlName="estado">
    <br>
    <input type="checkbox" class="" formControlName = "isChecked"> Observação
    <br>
    <textarea *ngIf="cadastroForm.get('isChecked').value" formControlName="observacao"> 
    </textarea>
    <br>
    <button class="btn btn-primary" type="submit" [disabled]='!cadastroForm.valid' >{{buttonText}}</button>
    <button class="btn btn btn-danger" type="button" onclick="document.location='/'">Cancelar</button>
    <br>
</form>
